<div class="center jumbotron">
  <h1>Welcome to the Class Portal</h1>

  <h2>
    This is the home page for the Class Portal Application.
  </h2>

  <%= link_to "Student sign up now!", new_user_path(:type => 'Student'), class: "btn btn-lg btn-primary" %>
</div>
