<h1>Student Portal</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
	
	<%= @student.email%>

    <p>Show My Courses <%= link_to "Show my courses!", '/students/index' %></p>
    <p>Search Course <%= link_to "Show my courses!", '/students/index' %></p>
    <p>Edit Profile <%= link_to "Show my courses!", '/students/index' %></p>
  </div>
</div>
